.send-message {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: 10px auto;
 
  .message-input {
    width: 80%;
    height: 10vh;
    background: rgb(206, 198, 206);
  }
  .message-input-submit {
    width: 20%;
  }
}
