.message {
    font-family: 'Courier New', Courier, monospace;
    font-size: 4vh;
    .author_messege {
        color:#dd2525;
    }
    .text_messege {
        font-style: italic;
    }
    .time_messege {
        color: #0ebe17;
    }
}
